qx.Class.define("{{#apiPackage}}{{.}}.{{/apiPackage}}{{#modelPackage}}{{.}}.{{/modelPackage}}{{classname}}", {
    extend: qx.core.Object,

    statics: {
{{#allowableValues}}{{#enumVars}}        {{name}}: {{{value}}},
{{/enumVars}}{{/allowableValues}}
    },

    construct() {
        this.base(arguments);
    }
});
